<div class="container">
   <div class="page-header">
     <h1>
       {{title}}
     </h1>
   </div>
 </div>
 <div class="container">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a routerLink="/">Home</a></li>    
      <li><a routerLink="/countries">Countries</a></li>
      <li><a routerLink="/regions">Regions</a></li>	  
    </ul>
  </div>
</nav>
</div>
<router-outlet></router-outlet>
